In [1]:
from PyNotion import *
import pandas as pd
from PyNotion.NotionClient import Notion
AUTH = "secret_8JtNxNiUCCWPRhFqzl1e2juzxoz96dyjYWubDLbNchy"
notion = Notion(AUTH)
d = notion.fetch_databases("記帳表")
df = pd.DataFrame(d.results)
df

         備註    款項 出/入帳 付款方式   金額    品項
0   打完球 吃零食    預算   出帳   現金   60    零食
1    路易莎 美式    預算   出帳   現金   50   咖啡廳
2       路易莎    預算   出帳   現金   68    咖啡
3     儲值200    預算   出帳   現金  200   悠遊卡
4     桃園→台北    預算   出帳  金融卡  155   高鐵票
..      ...   ...  ...  ...  ...   ...
61      吃找餐    預算   出帳   現金   70    早餐
62     淡江大學    預算   出帳   現金  150   停車費
63    立函心疼我  None   入帳  金融卡  100  立函補助
64  中熱拿和熱可可    預算   出帳  金融卡   73    咖啡
65    三芝咖啡廳  私人花費   出帳  金融卡  400   下午茶

[66 rows x 6 columns]